[submodule "vendor-local/buildbot"]
	path = vendor-local/buildbot
	url = https://github.com/Pike/buildbot.git
[submodule "vendor-local/elmo"]
	path = vendor-local/elmo
	url = https://github.com/mozilla/elmo.git
