mercurial==4.4.1
Django==1.11.7
#Twisted==8.2.0
https://github.com/twisted/twisted/archive/twisted-8.2.0.tar.gz
simplejson
MySQL-python
elasticsearch==1.2
compare-locales==2.6
fluent==0.4.4
markus[datadog]==1.1
